In [1]:
# Importing Dependencies
import pandas as pd

# **Skill Extraction**

### **Data Ingestion**

In [2]:
# Load in the Datasets
job_postings = pd.read_csv('../../../data/cleaned_job_postings.csv')
job_skills = pd.read_csv('../../../data/cleaned_job_skills.csv')

In [3]:
job_postings

,job_link,last_processed_time,job_title,company,city,state,job_classification,job_keyword,seniority_level,seniority_level_keyword
0,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-21 08:08:48.031964+00,Senior Machine Learning Engineer,Jobs for Humanity,New Haven,CT,Machine Learning Engineer,Machine Learning Engineer,Senior-Level,Senior
1,https://www.linkedin.com/jobs/view/principal-s...,2024-01-20 04:02:12.331406+00,"Principal Software Engineer, ML Accelerators",Aurora,San Francisco,CA,Software & Platform Engineering,Software Engineer,Principal / Staff-Level,Principal
2,https://www.linkedin.com/jobs/view/senior-etl-...,2024-01-21 08:08:31.941595+00,Senior ETL Data Warehouse Specialist,Adame Services LLC,New York,NY,Data Modeling & Warehousing,Data Warehouse,Senior-Level,Senior
3,https://www.linkedin.com/jobs/view/senior-data...,2024-01-20 15:30:55.796572+00,Senior Data Warehouse Developer / Architect,Morph Enterprise,Harrisburg,PA,Data Modeling & Warehousing,Data Warehouse,Senior-Level,Senior
4,https://www.linkedin.com/jobs/view/lead-data-e...,2024-01-21 08:08:58.312124+00,Lead Data Engineer,Dice,Plano,TX,Data Engineer,Lead Data Engineer,Lead,Lead
...,...,...,...,...,...,...,...,...,...,...
7352,https://www.linkedin.com/jobs/view/data-archit...,2024-01-21 08:08:07.523737+00,Data Architect,General Dynamics Information Technology,St Louis,MO,Data Architect,Data Architect,Senior-Level,unclassified
7353,https://ca.linkedin.com/jobs/view/senior-data-...,2024-01-20 05:10:03.58781+00,Senior Data Insights Analyst,CARFAX Canada,NaN,NaN,Data Analyst,Data Insights Analyst,Senior-Level,Senior
7354,https://www.linkedin.com/jobs/view/corporate-a...,2024-01-19 15:10:41.177008+00,Corporate AML Alert Investigation Specialist,"Glacier Bancorp, Inc.",Kalispell,MT,Risk & Compliance Analytics,Aml,Senior-Level,Specialist
7355,https://www.linkedin.com/jobs/view/senior-data...,2024-01-20 15:20:19.036168+00,Senior Data Scientist,Highnote,San Francisco,CA,Data Scientist,Data Scientist,Senior-Level,Senior
7356,https://www.linkedin.com/jobs/view/senior-data...,2024-01-19 23:25:28.107523+00,Senior Data Engineer,CompSource Mutual Insurance Company,Oklahoma City,OK,Data Engineer,Senior Data Engineer,Senior-Level,Senior

### **Merge the Data**

In [4]:
# Merge left on job_postings and job_skills on the 'job_link' column
merged_data = job_postings.merge(job_skills, on='job_link', how='left')

# Drop the 'job_link' column
merged_data = merged_data.drop(columns=['job_link'])

# Display data head
merged_data.head()

,last_processed_time,job_title,company,city,state,job_classification,job_keyword,seniority_level,seniority_level_keyword,job_skills
0,2024-01-21 08:08:48.031964+00,Senior Machine Learning Engineer,Jobs for Humanity,New Haven,CT,Machine Learning Engineer,Machine Learning Engineer,Senior-Level,Senior,"Machine Learning, Programming, Python, Scala, ..."
1,2024-01-20 04:02:12.331406+00,"Principal Software Engineer, ML Accelerators",Aurora,San Francisco,CA,Software & Platform Engineering,Software Engineer,Principal / Staff-Level,Principal,"C++, Python, PyTorch, TensorFlow, MXNet, CUDA,..."
2,2024-01-21 08:08:31.941595+00,Senior ETL Data Warehouse Specialist,Adame Services LLC,New York,NY,Data Modeling & Warehousing,Data Warehouse,Senior-Level,Senior,"ETL, Data Integration, Data Transformation, Da..."
3,2024-01-20 15:30:55.796572+00,Senior Data Warehouse Developer / Architect,Morph Enterprise,Harrisburg,PA,Data Modeling & Warehousing,Data Warehouse,Senior-Level,Senior,"Data Lakes, Data Bricks, Azure Data Factory Pi..."
4,2024-01-21 08:08:58.312124+00,Lead Data Engineer,Dice,Plano,TX,Data Engineer,Lead Data Engineer,Lead,Lead,"Java, Scala, Python, RDBMS, NoSQL, Redshift, S..."

### **Split the job_skills column into a list of skills**

In [5]:
# Split the job_skills column into a list of skills
merged_data['job_skills'] = merged_data['job_skills'].str.split(', ')

# Display data head
merged_data.head()

,last_processed_time,job_title,company,city,state,job_classification,job_keyword,seniority_level,seniority_level_keyword,job_skills
0,2024-01-21 08:08:48.031964+00,Senior Machine Learning Engineer,Jobs for Humanity,New Haven,CT,Machine Learning Engineer,Machine Learning Engineer,Senior-Level,Senior,"[Machine Learning, Programming, Python, Scala,..."
1,2024-01-20 04:02:12.331406+00,"Principal Software Engineer, ML Accelerators",Aurora,San Francisco,CA,Software & Platform Engineering,Software Engineer,Principal / Staff-Level,Principal,"[C++, Python, PyTorch, TensorFlow, MXNet, CUDA..."
2,2024-01-21 08:08:31.941595+00,Senior ETL Data Warehouse Specialist,Adame Services LLC,New York,NY,Data Modeling & Warehousing,Data Warehouse,Senior-Level,Senior,"[ETL, Data Integration, Data Transformation, D..."
3,2024-01-20 15:30:55.796572+00,Senior Data Warehouse Developer / Architect,Morph Enterprise,Harrisburg,PA,Data Modeling & Warehousing,Data Warehouse,Senior-Level,Senior,"[Data Lakes, Data Bricks, Azure Data Factory P..."
4,2024-01-21 08:08:58.312124+00,Lead Data Engineer,Dice,Plano,TX,Data Engineer,Lead Data Engineer,Lead,Lead,"[Java, Scala, Python, RDBMS, NoSQL, Redshift, ..."