In [111]:
# Import the dependencies
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt

In [112]:
# Load the data
file_path = '../../data/job_postings.csv'
df = pd.read_csv(file_path)

In [113]:
# Display the first 5 rows of the dataframe
df.head()

,job_link,last_processed_time,last_status,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
0,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-21 08:08:48.031964+00,Finished NER,t,t,f,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",2024-01-14,East Haven,United States,Agricultural-Research Engineer,Mid senior,Onsite
1,https://www.linkedin.com/jobs/view/principal-s...,2024-01-20 04:02:12.331406+00,Finished NER,t,t,f,"Principal Software Engineer, ML Accelerators",Aurora,"San Francisco, CA",2024-01-14,El Cerrito,United States,Set-Key Driver,Mid senior,Onsite
2,https://www.linkedin.com/jobs/view/senior-etl-...,2024-01-21 08:08:31.941595+00,Finished NER,t,t,f,Senior ETL Data Warehouse Specialist,Adame Services LLC,"New York, NY",2024-01-14,Middletown,United States,Technical Support Specialist,Associate,Onsite
3,https://www.linkedin.com/jobs/view/senior-data...,2024-01-20 15:30:55.796572+00,Finished NER,t,t,f,Senior Data Warehouse Developer / Architect,Morph Enterprise,"Harrisburg, PA",2024-01-12,Lebanon,United States,Architect,Mid senior,Onsite
4,https://www.linkedin.com/jobs/view/lead-data-e...,2024-01-21 08:08:58.312124+00,Finished NER,t,t,f,Lead Data Engineer,Dice,"Plano, TX",2024-01-14,McKinney,United States,Maintenance Data Analyst,Mid senior,Onsite

In [114]:
# Display number of rows and columns
df.shape

(12217, 15)

In [115]:
# Eliminate columns that are not needed
columns_to_drop = ['last_status', 'got_summary', 'got_ner', 'is_being_worked', 'first_seen', 'job_type']
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])
df.head()

,job_link,last_processed_time,job_title,company,job_location,search_city,search_country,search_position,job_level
0,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-21 08:08:48.031964+00,Senior Machine Learning Engineer,Jobs for Humanity,"New Haven, CT",East Haven,United States,Agricultural-Research Engineer,Mid senior
1,https://www.linkedin.com/jobs/view/principal-s...,2024-01-20 04:02:12.331406+00,"Principal Software Engineer, ML Accelerators",Aurora,"San Francisco, CA",El Cerrito,United States,Set-Key Driver,Mid senior
2,https://www.linkedin.com/jobs/view/senior-etl-...,2024-01-21 08:08:31.941595+00,Senior ETL Data Warehouse Specialist,Adame Services LLC,"New York, NY",Middletown,United States,Technical Support Specialist,Associate
3,https://www.linkedin.com/jobs/view/senior-data...,2024-01-20 15:30:55.796572+00,Senior Data Warehouse Developer / Architect,Morph Enterprise,"Harrisburg, PA",Lebanon,United States,Architect,Mid senior
4,https://www.linkedin.com/jobs/view/lead-data-e...,2024-01-21 08:08:58.312124+00,Lead Data Engineer,Dice,"Plano, TX",McKinney,United States,Maintenance Data Analyst,Mid senior

In [116]:
# Display number of columns.
df.shape

(12217, 9)

In [117]:
# Remove rows with missing values
df = df.dropna()
df.shape

(12216, 9)

In [118]:
# Split the job_location column into city and state
df[['City', 'State']] = df['job_location'].str.split(', ', n=1, expand=True)
df = df.drop(columns=['job_location'])
df.head()

,job_link,last_processed_time,job_title,company,search_city,search_country,search_position,job_level,City,State
0,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-21 08:08:48.031964+00,Senior Machine Learning Engineer,Jobs for Humanity,East Haven,United States,Agricultural-Research Engineer,Mid senior,New Haven,CT
1,https://www.linkedin.com/jobs/view/principal-s...,2024-01-20 04:02:12.331406+00,"Principal Software Engineer, ML Accelerators",Aurora,El Cerrito,United States,Set-Key Driver,Mid senior,San Francisco,CA
2,https://www.linkedin.com/jobs/view/senior-etl-...,2024-01-21 08:08:31.941595+00,Senior ETL Data Warehouse Specialist,Adame Services LLC,Middletown,United States,Technical Support Specialist,Associate,New York,NY
3,https://www.linkedin.com/jobs/view/senior-data...,2024-01-20 15:30:55.796572+00,Senior Data Warehouse Developer / Architect,Morph Enterprise,Lebanon,United States,Architect,Mid senior,Harrisburg,PA
4,https://www.linkedin.com/jobs/view/lead-data-e...,2024-01-21 08:08:58.312124+00,Lead Data Engineer,Dice,McKinney,United States,Maintenance Data Analyst,Mid senior,Plano,TX

In [119]:
# Rename the columns
df = df.rename(columns={'job_link': 'Job Link', 'last_processed_time': 'Last Processed Time', 'job_title': 'Job Title', 'company': 'Company', 'search_city': 'Search City', 'search_country': 'Search Country', 'search_position': 'Search Position', 'job_level': 'Job Level'})
df.head()

,Job Link,Last Processed Time,Job Title,Company,Search City,Search Country,Search Position,Job Level,City,State
0,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-21 08:08:48.031964+00,Senior Machine Learning Engineer,Jobs for Humanity,East Haven,United States,Agricultural-Research Engineer,Mid senior,New Haven,CT
1,https://www.linkedin.com/jobs/view/principal-s...,2024-01-20 04:02:12.331406+00,"Principal Software Engineer, ML Accelerators",Aurora,El Cerrito,United States,Set-Key Driver,Mid senior,San Francisco,CA
2,https://www.linkedin.com/jobs/view/senior-etl-...,2024-01-21 08:08:31.941595+00,Senior ETL Data Warehouse Specialist,Adame Services LLC,Middletown,United States,Technical Support Specialist,Associate,New York,NY
3,https://www.linkedin.com/jobs/view/senior-data...,2024-01-20 15:30:55.796572+00,Senior Data Warehouse Developer / Architect,Morph Enterprise,Lebanon,United States,Architect,Mid senior,Harrisburg,PA
4,https://www.linkedin.com/jobs/view/lead-data-e...,2024-01-21 08:08:58.312124+00,Lead Data Engineer,Dice,McKinney,United States,Maintenance Data Analyst,Mid senior,Plano,TX

In [120]:
# Move the Search position column to the fourth position
cols = list(df.columns)
cols.insert(4, cols.pop(cols.index('Search Position')))
df = df[cols]
df.head()

,Job Link,Last Processed Time,Job Title,Company,Search Position,Search City,Search Country,Job Level,City,State
0,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-21 08:08:48.031964+00,Senior Machine Learning Engineer,Jobs for Humanity,Agricultural-Research Engineer,East Haven,United States,Mid senior,New Haven,CT
1,https://www.linkedin.com/jobs/view/principal-s...,2024-01-20 04:02:12.331406+00,"Principal Software Engineer, ML Accelerators",Aurora,Set-Key Driver,El Cerrito,United States,Mid senior,San Francisco,CA
2,https://www.linkedin.com/jobs/view/senior-etl-...,2024-01-21 08:08:31.941595+00,Senior ETL Data Warehouse Specialist,Adame Services LLC,Technical Support Specialist,Middletown,United States,Associate,New York,NY
3,https://www.linkedin.com/jobs/view/senior-data...,2024-01-20 15:30:55.796572+00,Senior Data Warehouse Developer / Architect,Morph Enterprise,Architect,Lebanon,United States,Mid senior,Harrisburg,PA
4,https://www.linkedin.com/jobs/view/lead-data-e...,2024-01-21 08:08:58.312124+00,Lead Data Engineer,Dice,Maintenance Data Analyst,McKinney,United States,Mid senior,Plano,TX

In [121]:
# Move the Job Level position column to the 5th position
cols = list(df.columns)
cols.insert(5, cols.pop(cols.index('Job Level')))
df = df[cols]
df.head()

,Job Link,Last Processed Time,Job Title,Company,Search Position,Job Level,Search City,Search Country,City,State
0,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-21 08:08:48.031964+00,Senior Machine Learning Engineer,Jobs for Humanity,Agricultural-Research Engineer,Mid senior,East Haven,United States,New Haven,CT
1,https://www.linkedin.com/jobs/view/principal-s...,2024-01-20 04:02:12.331406+00,"Principal Software Engineer, ML Accelerators",Aurora,Set-Key Driver,Mid senior,El Cerrito,United States,San Francisco,CA
2,https://www.linkedin.com/jobs/view/senior-etl-...,2024-01-21 08:08:31.941595+00,Senior ETL Data Warehouse Specialist,Adame Services LLC,Technical Support Specialist,Associate,Middletown,United States,New York,NY
3,https://www.linkedin.com/jobs/view/senior-data...,2024-01-20 15:30:55.796572+00,Senior Data Warehouse Developer / Architect,Morph Enterprise,Architect,Mid senior,Lebanon,United States,Harrisburg,PA
4,https://www.linkedin.com/jobs/view/lead-data-e...,2024-01-21 08:08:58.312124+00,Lead Data Engineer,Dice,Maintenance Data Analyst,Mid senior,McKinney,United States,Plano,TX

In [122]:
# Move the City position column to the 7th position
cols = list(df.columns)
cols.insert(7, cols.pop(cols.index('City')))
df = df[cols]
df.head()

,Job Link,Last Processed Time,Job Title,Company,Search Position,Job Level,Search City,City,Search Country,State
0,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-21 08:08:48.031964+00,Senior Machine Learning Engineer,Jobs for Humanity,Agricultural-Research Engineer,Mid senior,East Haven,New Haven,United States,CT
1,https://www.linkedin.com/jobs/view/principal-s...,2024-01-20 04:02:12.331406+00,"Principal Software Engineer, ML Accelerators",Aurora,Set-Key Driver,Mid senior,El Cerrito,San Francisco,United States,CA
2,https://www.linkedin.com/jobs/view/senior-etl-...,2024-01-21 08:08:31.941595+00,Senior ETL Data Warehouse Specialist,Adame Services LLC,Technical Support Specialist,Associate,Middletown,New York,United States,NY
3,https://www.linkedin.com/jobs/view/senior-data...,2024-01-20 15:30:55.796572+00,Senior Data Warehouse Developer / Architect,Morph Enterprise,Architect,Mid senior,Lebanon,Harrisburg,United States,PA
4,https://www.linkedin.com/jobs/view/lead-data-e...,2024-01-21 08:08:58.312124+00,Lead Data Engineer,Dice,Maintenance Data Analyst,Mid senior,McKinney,Plano,United States,TX

In [123]:
# Keep only the rows with Search County as United States.
df_filtered = df[df['Search Country'] == 'United States']
df_filtered.head()

,Job Link,Last Processed Time,Job Title,Company,Search Position,Job Level,Search City,City,Search Country,State
0,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-21 08:08:48.031964+00,Senior Machine Learning Engineer,Jobs for Humanity,Agricultural-Research Engineer,Mid senior,East Haven,New Haven,United States,CT
1,https://www.linkedin.com/jobs/view/principal-s...,2024-01-20 04:02:12.331406+00,"Principal Software Engineer, ML Accelerators",Aurora,Set-Key Driver,Mid senior,El Cerrito,San Francisco,United States,CA
2,https://www.linkedin.com/jobs/view/senior-etl-...,2024-01-21 08:08:31.941595+00,Senior ETL Data Warehouse Specialist,Adame Services LLC,Technical Support Specialist,Associate,Middletown,New York,United States,NY
3,https://www.linkedin.com/jobs/view/senior-data...,2024-01-20 15:30:55.796572+00,Senior Data Warehouse Developer / Architect,Morph Enterprise,Architect,Mid senior,Lebanon,Harrisburg,United States,PA
4,https://www.linkedin.com/jobs/view/lead-data-e...,2024-01-21 08:08:58.312124+00,Lead Data Engineer,Dice,Maintenance Data Analyst,Mid senior,McKinney,Plano,United States,TX

In [124]:
# Display the number of rows and columns
df_filtered.shape

(10290, 10)

In [125]:
# Eliminate missing values in the State column
df_filtered = df_filtered.dropna(subset=['State'])
df_filtered.shape

(10017, 10)

In [126]:
# Display the first 5 rows of the dataframe
df_filtered.head()

,Job Link,Last Processed Time,Job Title,Company,Search Position,Job Level,Search City,City,Search Country,State
0,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-21 08:08:48.031964+00,Senior Machine Learning Engineer,Jobs for Humanity,Agricultural-Research Engineer,Mid senior,East Haven,New Haven,United States,CT
1,https://www.linkedin.com/jobs/view/principal-s...,2024-01-20 04:02:12.331406+00,"Principal Software Engineer, ML Accelerators",Aurora,Set-Key Driver,Mid senior,El Cerrito,San Francisco,United States,CA
2,https://www.linkedin.com/jobs/view/senior-etl-...,2024-01-21 08:08:31.941595+00,Senior ETL Data Warehouse Specialist,Adame Services LLC,Technical Support Specialist,Associate,Middletown,New York,United States,NY
3,https://www.linkedin.com/jobs/view/senior-data...,2024-01-20 15:30:55.796572+00,Senior Data Warehouse Developer / Architect,Morph Enterprise,Architect,Mid senior,Lebanon,Harrisburg,United States,PA
4,https://www.linkedin.com/jobs/view/lead-data-e...,2024-01-21 08:08:58.312124+00,Lead Data Engineer,Dice,Maintenance Data Analyst,Mid senior,McKinney,Plano,United States,TX

In [127]:
# Keep only the rows with State column having two characters
df_filtered = df[df['State'].str.match(r'^[A-Z]{2}$', na=False)]
df_filtered.head()

,Job Link,Last Processed Time,Job Title,Company,Search Position,Job Level,Search City,City,Search Country,State
0,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-21 08:08:48.031964+00,Senior Machine Learning Engineer,Jobs for Humanity,Agricultural-Research Engineer,Mid senior,East Haven,New Haven,United States,CT
1,https://www.linkedin.com/jobs/view/principal-s...,2024-01-20 04:02:12.331406+00,"Principal Software Engineer, ML Accelerators",Aurora,Set-Key Driver,Mid senior,El Cerrito,San Francisco,United States,CA
2,https://www.linkedin.com/jobs/view/senior-etl-...,2024-01-21 08:08:31.941595+00,Senior ETL Data Warehouse Specialist,Adame Services LLC,Technical Support Specialist,Associate,Middletown,New York,United States,NY
3,https://www.linkedin.com/jobs/view/senior-data...,2024-01-20 15:30:55.796572+00,Senior Data Warehouse Developer / Architect,Morph Enterprise,Architect,Mid senior,Lebanon,Harrisburg,United States,PA
4,https://www.linkedin.com/jobs/view/lead-data-e...,2024-01-21 08:08:58.312124+00,Lead Data Engineer,Dice,Maintenance Data Analyst,Mid senior,McKinney,Plano,United States,TX

In [128]:
# Display the number of rows and columns
df_filtered.shape

(9641, 10)